<!DOCTYPE html>
<html lang="en" ng-app="like">
<head>
    <meta charset="UTF-8">
    <title>LikeAngularJS</title>
</head>
<body>

    <div id="main" main-role ng-controller="testCtrl" ng-click="log(test)">
        {{ exampleWord }} {{ sayHi }}
        <input type="text" ng-model="whoareyou" >
        <p>{{ whoareyou }}</p>
        <mark-up>try to mark up</mark-up>
    </div>
    
    <script type="text/javascript" src="../lib/compose-parallel.js"></script>
    <script type="text/javascript" src="../src/like.js"></script>
    <script type="text/javascript" src="../src/lite.js"></script>
    <script type="text/javascript" src="../src/scope.js"></script>
    <script type="text/javascript" src="../src/provider.js"></script>
    <script type="text/javascript" src="../src/compiler.js"></script>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>
